<div class="panel panel-default">
  <h1>Overzicht folders beheer</h1>
  <div class="panel-body">
    <%= link_to 'New Folder', new_article_path %>
    <br></br>
    <table>
      <tr>
        <th>Title</th>
        <th>Text</th>
      </tr>
     
      <% @articles.each do |article| %>
        <tr>
          <td><%= article.title %></td>
          <td><%= article.text %></td>
          <td><%= link_to 'Bekijk', article_path(article) %></td>
          <td><%= link_to 'Edit', edit_article_path(article) %></td>
          <td><%= link_to 'Delete', article_path(article),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>